PORT=3001
NODE_ENV=developer
DATABASE_URL=postgresql://docker:docker@localhost:5434/iplayed?schema=public

#IGDB INFO:
API_TOKEN=...
API_CLIENT_ID=...

#DISCORD INFO:
DISCORD_CLIENT_ID=...
DISCORD_CLIENT_SECRET=...
DISCORD_OAUTH_URL=https://discord.com/api/oauth2/authorize
DISCORD_REDIRECT_URI=http://localhost:3001/auth/discord/callback

JWT_SECRET=...
JWT_EXPIRES_IN=14

FRONTEND_URL=http://localhost:3000/auth/callback