PORT=3001

JWT_SECRET=
DATABASE_URL=

#IGDB INFO:
API_TOKEN=
API_CLIENT_ID=

#DISCORD INFO:
DISCORD_CLIENT_ID=...
DISCORD_CLIENT_SECRET=...
DISCORD_REDIRECT_URI=https://api.meusite.com/auth/discord/callback
FRONTEND_DEEP_LINK=myapp://auth